@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-light .navbar-nav .nav-link {
  color: grey;
  font-family: "Poppins", sans-serif;
}

.navbar-brand img {
  height: 50px;
  width: 100px;
}
.log {
  font-size: 1.2rem;
}
.log small {
  font-family: "Poppins", sans-serif;
  padding-left: 5px;
  color: grey;
  font-size: 1rem;
}
.container-hero {
  position: relative;
}
.hero {
  font-family: "Bebas Neue", cursive;
}

.heroImg img {
  height: 500px;
  width: 100%;
  filter: brightness(1);
}

.para {
  position: absolute;
  top: 59%;
  left: 3%;
  color: azure;
}
.para h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: azure;
}
.para h4 {
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  color: rgb(228, 228, 228);
  margin-bottom: 10px;
  font-size: 20px;
}
.para h5 {
  text-align: center;
  border: 1px solid transparent;
  width: 130px;
  padding: 5px 10px;
  background-color: rgba(148, 147, 147, 0.507);
  border-radius: 20px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos ul {
  display: flex;
}
.logos li {
  list-style: none;
  margin-right: 20px;
  padding: 10px 30px;
}
.logos li:hover {
  transition: 0.3s ease transform;
  cursor: pointer;
  transform: scale(1.4);
}
.logos li img {
  height: 50px;
  width: 50px;
}

.img-container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 10vh;
  height: 400px;
  padding: 0 70px;
  font-family: "Roboto", sans-serif;
}
.img-container h2 {
  font-family: "Oswald";
  padding-bottom: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.cards img {
  height: 300px;
  width: 300px;
}

.cards button {
  color: rgb(17, 17, 17);
  margin-top: 10px;
  padding: 6px 20px;
  font-weight: 600;
  border: 1px solid transparent;
}
.cards small {
  font-size: 1rem;
}

.banner {
  display: flex;
}

.image-banner img {
  width: 720px;
  height: 300px;
}

.owl-dots {
  text-align: center;
  margin-top: 3%;
}
.owl-dot {
  display: inline-block;
  background-color: #f4f4f4;
  opacity: 0.8;
  margin: 0 10px;
  border-radius: 50%;
}
.owl-controls {
  display: flex;
}
.owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 2rem;
}

.owl-carousel {
  margin-bottom: 10px;
}
#slider {
  height: 400px;
}
.Category-header h3 {
  margin-top: 25vh;
  margin-bottom: 2vh;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.category {
  display: flex;
  width: 100%;
  position: relative;
}

.category-banner img {
  width: 720px;
  height: 300px;
}
.category-clothes img {
  width: 720px;
  height: 300px;
}
.category-banner:hover .btn-category {
  display: block;
}
.category-clothes:hover .btn-clothes {
  display: block;
}
.btn-category {
  display: none;
  position: absolute;
  top: 80%;
  right: 25%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 30px;
  background-color: transparent;
  color: rgb(209, 207, 207);
}
.btn-clothes {
  display: none;
  position: absolute;
  top: 80%;
  left: 23%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 30px;
  background-color: transparent;
  color: rgb(209, 207, 207);
}

.category-banner img:hover {
  transition: 0.2s ease transform;
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(50%);
}
.category-clothes img:hover {
  transition: 0.2s ease transform;
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(50%);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30vh;
  height: 200px;
  background-color: #faf9f9;
  padding: 0 5px;
  font-family: "Poppins", sans-serif;
}
.logo-footer {
  display: flex;
  flex-direction: column;
}
.logo-footer small i {
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.brand-container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 10vh;
  height: 400px;
  padding: 0 70px;
  font-family: "Roboto", sans-serif;
}
.card-container {
  display: flex;
  justify-content: center;
}

.brand-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-color: #f1f1f15b;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.brand-cards h3 {
  padding-top: 25px;
}
.brand-cards img {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 500px) {
  .heroImg img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .para {
    position: absolute;
    top: 58%;
    left: 2%;
    line-height: 1;
  }
  .para h2 {
    font-size: 25px;
  }
  .para h4 {
    font-size: 15px;
  }
  .heroImg {
    overflow: hidden;
  }
  .trend {
    display: none;
  }

  .logos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logos li {
    list-style: none;
    margin-left: 10px;
    padding: 18px;
  }
  .logos li img {
    height: 35px;
    width: 40px;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .image-banner img {
    width: 100%;
    height: auto;
  }

  .card {
    width: auto;
  }

  .card small {
    display: block;
  }
  .owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .category-banner img {
    width: 100%;
    height: auto;
  }
  .logo-footer h4 {
    font-size: 15px;
    font-weight: 800;
  }
  .btn-clothes {
    display: none;
    position: absolute;
    top: 30%;
    left: 33%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 30px;
    background-color: transparent;
    color: rgb(209, 207, 207);
  }
  .btn-category {
    display: none;
    position: absolute;
    top: 80%;
    left: 33%;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px 30px;
    background-color: transparent;
    color: rgb(209, 207, 207);
  }
}
